.input-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(15, 15, 15, 0.85);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 10000;
}

.input-content {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.spacer {
  margin: 18vh;
}

.lista-libri {
  justify-content: center;
}